<template>
  <div>
    <select @change="selectUser(selectedUser)" v-model="selectedUser">
      <option value="t6677422">根本</option>
      <option value="s6677480">長谷川</option>
    </select>
    <img v-bind:src=url>
  </div>
</template>

<script>
  import {mapActions, mapState} from 'vuex';

  export default {
    props: ['avater'],
    data() {
      return {
        selectedUser: ''
      };
    },
    computed: {
      ...mapState('avater', ['url'])
    },
    methods: {
      ...mapActions('avater', [
        'selectUser'
      ])
    }
  };
</script>
