<template>
  <li v-bind:class="{ 'is-do': item.is_do }" @click="doneTask(item)">{{ item.title }}</li>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    props: ['item'],
    methods: {
      ...mapActions('todo', [
        'doneTask'
      ])
    }
  }
</script>

<style>
  li {
    cursor: pointer;
  }
  li.is-do {
    text-decoration: line-through;
  }
</style>
