<template>
  <div id="app">
    <ul>
      <item v-for="item in items" :item="item" v-bind:key="item.id"></item>
    </ul>
    <div>
      <input type="text" v-model="inputTitle">
      <button @click="addTask(inputTitle)">追加</button>
    </div>
    <hr>
    <avater></avater>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import Item from './components/Item.vue';
  import Avater from './components/Avater.vue';

  export default {
    name: 'app',
    components: {
      Item,
      Avater
    },
    data() {
      return {
        inputTitle: ''
      };
    },
    computed: {
      ...mapState('todo', ['items'])
    },
    methods: {
      ...mapActions('todo', [
        'addTask'
      ]),
    }
  };
</script>
